#root {
  padding: 0;
  margin: 0;
  background-color: #141414;
  min-height: 100vh;
  background-image: url('../assets/bk-odonto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: center;
}

.header {
  /* padding: 2px; */
  box-shadow: -2px -20px 20px 15px rgb(245, 245, 245);
  margin-bottom: 15px;
  height: 40px;
  /* background-color: rgb(159, 160, 160) */
}

.nav-btn {
  padding: 3px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: transform 0.5s, background-color 0.5s;

}



button {
  font-size: 16px;
  border: none
}

input {
  border: none
}

.content {
  /* display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center; */
  justify-self: center;
}

table {
  transition: all 0.3s;
}



/* .nav-btn {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
  background-color: white;
  color: black;
  transition: transform 0.5s, background-color 0.5s;
} */

.active {
  transform: translateY(-5px);
  background-color: red;
  color: white
}



.edit-td {
  color: blue;
}



.todos-table,
td {
  color: black;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 5px 10px 5px;
}

th {
  height: 70px;
  color: black;
  border: 2px solid rgb(0, 0, 0);
  border-bottom: 4px solid rgb(0, 0, 0);
  padding: 10px;
}




.todos-table {
  border-collapse: collapse;
  background-color: white;
  color: white;
  text-align: center;
  animation: fadeInTable 0.5s ease-in-out;

}

@keyframes fadeInTable {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.select-product {
  width: 40%;
  align-self: center;
  padding: 5px;
  font-weight: bold;
}

.form-close-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.close-btn {
  font-size: 1.3em;
  font-weight: bold;
  background: none;
  border: white solid 1px;
  color: white;
}





/* .nav {
  display: flex;
  justify-content: space-around;
  color: white;
} */

/* .header {
  box-shadow: -2px -20px 20px 15px rgb(77, 84, 83);
  min-height: 10vh;
  background-color: rgb(34, 35, 35)
} */

.login-form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  border-top: 15px solid white;

}

.table-container {
  background-color: #141414;
  border: 1px solid white;
  padding: 15px;
  border-radius: 10px;
}

.table-sort {
  margin-bottom: 15px;
  max-height: 7vh;
  padding: 0px 20px;
  display: flex;
  justify-self: center;
  color: white;
  border-bottom: 3px white solid;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.username,
.password {
  display: flex;
  flex-direction: column;
}

.export-btn {
  min-width: 6vw;
}

#month {
  width: 30vw;
}

@media screen and (min-width: 820px) {


  .export-btn {
    min-width: 3vw;
  }

  .nav {
    flex-direction: column;
  }

  .App {
    display: grid;
    gap: 25px;
    grid-template-columns: 20vw 70vw;

  }

  .content {
    grid-column: 2;

  }

  .table-sort,
  .new-form-container,
  table {
    grid-column: 2;

  }

  .new-form-container {
    margin: 15px
  }

  .header {
    position: fixed;
    grid-column: 1;
    height: 100vh;
    width: 20vw;
    background-color: black;
    box-shadow: none;
    display: grid;
    border-right: solid white 1px;
    justify-content: center;
    align-items: start;
  }

  .nav-btn {
    transition: border 0.3s;
    color: white;
    background-color: black;
    border-left: solid 5px black;
    border-radius: 0px;
  }

  .active {
    border-left: solid 10px red;

  }

  .todos-table {
    border: none
  }

  #month {
    width: 15vw;
  }
}

@media only screen and (min-device-width: 480px) {
  #root {
    font-weight: bold;
  }
}