#root {
  padding: 0;
  margin: 0;
  background-color: #141414;
  min-height: 100vh;
  background-image: url('../assets/bk-odonto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  display: grid;
  gap: 25px;
}

caption {
  background-color: #1b1b1be7;

}

.edit-td {
  color: blue;
}

.todos-table,
td {
  color: black;
  border: 2px solid rgb(0, 0, 0);
  padding: 15px;
}

th {
  height: 70px;
  color: black;
  border: 2px solid rgb(0, 0, 0);
  border-bottom: 4px solid rgb(0, 0, 0);
  padding: 15px;
}

.todos-table {
  width: -webkit-fill-available;
  border-collapse: collapse;
  background-color: white;
  color: white;
  text-align: center;
  border-left: white solid 5px;
  border-right: white solid 5px;
}

/* th {
  padding-left: 10px;
  padding-right: 10px;
} */

td {
  padding: 10px;
}



.nav {
  display: flex;
  justify-content: space-around;
  color: white;
}

.header {
  box-shadow: -2px -20px 20px 15px rgb(77, 84, 83);
  min-height: 10vh;
  background-color: rgb(34, 35, 35)
}

.login-form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.table-sort {
  margin-bottom: 15px;
  background-color: #141414;
  max-height: 7vh;
  padding: 0px 20px;
  display: flex;
  justify-self: center;
  color: white;
  border: 3px white solid;
  border-radius: 11px;
  align-items: center;
  gap: 10px;
  /* to center in details page */
  justify-content: center;
}

.username,
.password {
  display: flex;
  flex-direction: column;
}