#root {
  padding: 0;
  margin: 0;
  background-color: #141414;
  min-height: 100vh;
  background-image: url('../assets/bk-odonto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: center;
}

.header {
  box-shadow: -2px -20px 20px 15px rgb(245, 245, 245);
  margin-bottom: 15px;
  height: 40px;
}

.nav-btn {
  padding: 3px;
  margin: 4px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: transform 0.5s, background-color 0.5s;

}


button {
  font-size: 16px;
  border: none;
}

input {
  border: none
}

.service-container {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
  animation: fadeInTable 0.5s ease-in-out;

}

#serviço-content {
  color: black;
  background-color: #ffffff;
  padding: 5px;
  animation: fadeInTable 0.5s ease-in-out;
}


table {
  transition: all 0.3s;
}





.active {
  transform: translateY(-3px);
  background-color: red;
  color: white
}

.edit-td {
  color: blue;
}

.edit-icon {
  width: 25px;
}

.header-container {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td {
  color: black;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 5px 10px 5px;
}

th {
  height: 70px;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 10px;
}




.todos-table {
  border-collapse: collapse;
  background-color: white;
  color: white;
  text-align: center;
  animation: fadeInTable 0.5s ease-in-out;
  border-radius: 15px;

}

@keyframes fadeInTable {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.select-product {
  align-self: center;
  padding: 5px;
  font-weight: bold;
  border-radius: 3px;
}

.form-close-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.close-btn {
  /* font-size: 1.3em; */
  font-weight: bold;
  background: none;
  border: white solid 1px;
  color: white;
}


.login-form {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  border-top: 15px solid white;

}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10px;
}

.new-form {
  font-weight: bold;
  padding: 7px;
  border-radius: 10px;
  background-color: #3498db;
  color: white;
}

.new-form-container {
  text-align: center;
}

.sort-nav {
  margin-bottom: 15px;
  padding: 0px 5px;
  display: flex;
  border: 1px black solid;
  border-radius: 10px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.todos-order-btn {
  border-radius: 5px;
  border-bottom: 1px black solid;
}

.username,
.password {
  display: flex;
  flex-direction: column;
}


.export-container {
  text-align: center;
  width: 100%;
}

.export-icon {
  width: 30px;
}



#month {
  padding: 5px;
  max-width: 35vw;
  max-height: 10vh;
  font-size: 16px;
  border: #141414 solid 1px
}

p {
  margin: 2px;
}

#edit {
  color: blue;

}

.loading {
  fill: white;
  text-align: center;
}

.loading svg {
  height: 10%;
  width: 5%;
}

@media screen and (min-width: 820px) {


  .edit-icon {
    width: 30px;
  }

  .export-icon {
    width: 40px;
  }

  .nav {
    flex-direction: column;
  }

  .App {
    display: grid;
    gap: 25px;
    grid-template-columns: 20vw 70vw;

  }

  .content-container {
    grid-column: 2;
    width: 65%;
    align-self: center;
    justify-self: center;
    padding: 15px;
  }

  .sort-nav,
  .new-form-container,
  table {
    grid-column: 2;

  }

  .new-form-container {
    margin: 15px
  }

  .header {
    position: fixed;
    grid-column: 1;
    height: 100vh;
    width: 20vw;
    background-color: black;
    box-shadow: none;
    display: grid;
    border-right: solid white 1px;
    justify-content: center;
    align-items: start;
  }

  .nav-btn {
    transition: border 0.5s;
    color: white;
    background-color: black;
    border-left: solid 5px black;
  }

  .active {
    border-left: solid 20px red;
    transform: translateY(-0px);
  }



  .todos-table {
    border: none
  }

  .new-form {
    padding: 10px;

  }


}