.content {}

/* .cpf-tel {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;

} */

.nome-sobrenome,
.endereço {
    /* background-color: antiquewhite; */
    /* padding: 10px; */
    /* border-radius: 50px; */
}

.info {
    font-size: 1.2em;
    width: 60vw;
    text-align: center;
    background-color: rgb(218, 199, 174);
    margin: 0 auto;
    padding: 5px 15px 5px 15px;
    /* border-top: 15px solid rgb(255, 244, 244); */
    border-radius: 1em;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.445);
}

.edit {
    border: 1px solid black;
}

.pencil-edit {
    width: 25px;
    padding: 5px;
    border: black solid 1px;
    border-radius: 10px;
    background: white;
}

@media screen and (min-width: 721px) {
    .pencil-edit {
        width: 2vw;
        padding: 4px;
    }


}