.info {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(218, 199, 174);
    padding: 0px 10px 0px 10px;
    border-radius: 1em;
}

.edit {
    border: 1px solid black;
}

.pencil-edit {
    width: 25px;
    padding: 5px;
    border: black solid 1px;
    border-radius: 10px;
    background: white;
}

@media screen and (min-width: 721px) {
    .pencil-edit {
        width: 2vw;
        padding: 4px;
    }


}