.info {
    text-align: center;
    background-color: rgb(218, 199, 174);
    padding: 0px 10px 5px 10px;
    border-radius: 5px;
}

.edit {
    border: 1px solid black;
}

.pencil-edit {
    width: 15px;
    padding: 3px;
    border: black solid 1px;
    border-radius: 6px;
    background: white;
}

.info-content {
    border-bottom: 1px black solid;
    border-right: 1px black dotted;
    border-left: 1px black dotted;
    margin: 5px;
}



@media screen and (min-width: 820px) {
    .pencil-edit {
        width: 1.5vw;
        padding: 4px;
    }

    .info {
        font-size: 1.5vw;
        grid-column: 2;
        width: 50vw;
        justify-self: center;
    }

}