form>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    padding-bottom: 5px;

}

.statusEntrega {
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.confirm-search {
    width: 50%;
    align-self: center;
}


.selected-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}



form {
    /* padding: 75px; */
    background-color: #1f1f1f;
    color: whitesmoke;
    text-align: center;
    border-radius: 15px;
}



form label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type='password'] {
    border-radius: 5px;
    padding: 5px;
    appearance: none;
    height: 20px;
    font-size: 16px;
}



select {
    border-radius: 10px;
    padding: 5px;
    border: none;

}



.invalid-form {
    border: 3px solid red;
}

.error-message {
    font-size: 20px;
}

#pop-up {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    min-height: 100%;
}


#pop-up-content {
    border-top: 15px solid rgb(255, 244, 244);
    width: 80%;
    padding: 15px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: rotate(2deg);
    }

    25% {
        opacity: 0.25;
        transform: rotate(-2deg);
    }

    50% {
        opacity: 0.5;
        transform: rotate(2deg);

    }

    75% {
        opacity: 0.75;
        transform: rotate(-2deg);

    }

    100% {
        opacity: 1;
    }
}

.login-container {
    min-height: 100vh;
    /* min-width: 100vw; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.login-enter {
    /* width: 10vw; */
    align-self: center;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    background-color: white;

}

.container-edit-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.container-edit-btn button,
.register-form-btn {
    align-self: center;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}


@media screen and (min-width: 721px) {
    form {
        padding: 40px
    }

    #pop-up {
        position: fixed;
    }

    #pop-up-content {
        width: 35vw;
        border-top: none;
    }

    .login-container form {
        padding: 15px;
    }
}