/* media query here for the phone size and below the config */

form>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-bottom: 10px;

}

.confirm-search {
    width: 50%;
    align-self: center;
}

/* .search-product {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-bottom: 10px;
} */
.selected-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.form-container {
    text-align: center;
    background-color: rgb(218, 199, 174);
    /* margin: 0 auto; */
    /* padding: 25px; */
    border-top: 15px solid rgb(255, 244, 244);
    border-radius: 1em;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.445);
}

form {
    /* margin: 0 auto; */
    padding: 75px;
    background-color: #1f1f1f;
    color: whitesmoke;
    text-align: center;
    border-radius: 15px;
}

button {
    margin: 10px;
}

form label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="number"] {
    border-radius: 10px;
    padding: 5px;
    appearance: none;
    border: none;
    min-width: 300px;
}

select {
    border-radius: 10px;
    padding: 10px;
    border: none;

}

/* input:focus,
input:focus-visible {
    outline: 3px solid #646cff;

} */

.invalid-form {
    border: 3px solid red;
}

.error-message {
    font-size: 20px;
}

@media (max-width: 720px) {
    /* form>div {
        display: flex;
        justify-content: space-between;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    } */
}